<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      
      <ion-slide *ngFor="let post of posts; let i = index">
        <div class="slide">
          <img [src]="post.image && post.image.formats.small.url ? 'http://localhost:1337' + post.image.formats.small.url : ''" alt="">
          <h2>{{ post.title }}</h2>
          <h6>{{ post.subtitle }}</h6>
          <p>{{ post.description }}</p>
        </div>
  
        <ion-button color="primary" (click)="redirectUpdate(post.id)">Actualizar</ion-button>
        <ion-button color="danger" (click)="deletePost(post.id)">Eliminar</ion-button>

      </ion-slide>

    </ion-slides>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/post-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
